# Data ingestion
requests==2.34.2

# Spark / transformation
pyspark==4.1.2

# PostgreSQL
psycopg[binary]==3.3.4

# Configuration
python-dotenv==1.2.3

# Airflow DAGs
apache-airflow==3.3.0
apache-airflow-providers-smtp==3.0.3
pendulum==3.2.0

# Testing
pytest==9.1.1

plotly==7.0.0
